<!DOCTYPE html>
<html>
  <head>
    <title>NOT FOUND</title>
  </head>
  <body>
    <h1>Sorry. We Don't Have What You're Looking For</h1>
    <p>
      We couldn't find anything that matched
      <%= req.url %>
    </p>
  </body>
</html>