<% layout('layout') -%>
<h1>Create a new Chat Room</h1>
<form action="/rooms" method="POST">
  <label for="room_name">Name</label>
  <input type="text" name="room[name]" id="room_name"/>
  <input type="Submit"/>
</form>

<p>
  <a href="/rooms">Return to all rooms</a>
</p>

<%- include partials/signOut.ejs %>
