<!--STYLES-->
<link rel="stylesheet" href="/styles/importer.css">
<!--STYLES END-->

<div class="dead-center">
<h1>Profile: <%= email %></h1>
<form method="GET" action="/logout">
<input type="submit" value="logout">
</form>
</div>