<div id="main">
<form>
<input type="text" placeholder="id" name="id">
<button type="submit" id="find-user">Submit</button>
</form>
</div>

<button id="action-button">Click me to load info!</button>
<div id="info"></div>

<small>Demo created by <a href="https://twitter.com/AurelioDeRosa">Aurelio De Rosa</a></small>


