<form method="POST" action="/rooms/<%= room.id %>/messages" id="new_message">
  <label for="text">Message Text:</label>
  <textarea id="text" name="message[text]"></textarea>
  <input type="Submit" value="Send"/>
</form>